.d-flex.flex-column.bg-white.align-items-center.justify-content-center.pricing--pricelist
  .d-flex.flex-column.align-items-center.justify-content-center.pricing--banner
    h3.pricing--heading.text-secondary Innovo42 Subscription
    span.pricing--subtitle.text-secondary Automate the processing of invoices and receipts.
    span.pricing--subtitle.text-secondary Choose the plan that works for you or contact us if you have any questions!

  .d-flex.flex-row.pricing--selector
    .d-flex.flex-column.m-2.p-5.bg-white.align-items-center.pricing--card
      h3.text-secondary.pricing--title Basic
      .d-flex.flex-row.align-items-center.justify-content-center.mb-3
        span.text-secondary.pricing--price SGD 18
        span.text-secondary &nbsp; / month
      a(href='subscription.html')
        button.btn.btn-lg.btn-block.btn-primary.mb-3.forms--rounded Get Started
      .d-flex.flex-row.align-items-center.justify-content-center.mb-3
        span Invoice Quantity
        select.ml-3.forms--rounded.forms--primary
          option(value="20") 20
          option(value="50") 50
          option(value="100") 100
          option(value="250") 250
          option(value="500") 500
      ul.px-2.mb-3.pricing--features
        li.my-2 Invoice and Receipt header level extraction
        li.my-2 Integrated with Financo

    .d-flex.flex-column.m-2.p-5.bg-white.align-items-center.pricing--card
      h3.text-secondary.pricing--title Premuim
      .d-flex.flex-row.align-items-center.justify-content-center.mb-3
        span.text-secondary.pricing--price SGD 30
        span.text-secondary &nbsp; / month
      a(href='subscription.html')
        button.btn.btn-lg.btn-block.btn-primary.mb-3.forms--rounded Get Started
      .d-flex.flex-row.align-items-center.justify-content-center.mb-3
        span Invoice Quantity
        select.ml-3.forms--rounded.forms--primary
          option(value="20") 20
          option(value="50") 50
          option(value="100") 100
          option(value="250") 250
          option(value="500") 500
      ul.px-2.mb-3.pricing--features
        li.my-2 Invoice and Receipt header level extraction
        li.my-2 Integrated with Financo
        li.my-2 Included line items