.d-flex.flex-row.align-items-center.fixed-top.bg-white.px-10p.header--wrapper
  a.my-auto.mr-auto(href='index.html')
    img.my-auto.header--logo(src='images/innovo42-logo.png', alt='Innovo42')
  nav.d-none.d-xl-flex.flex-row.align-items-center
    each link in sitemap
      a.p-md-2.p-lg-4.p-xl-4.header-menu--item(href=link.href)
        = link.label
  nav.d-none.d-xl-flex.flex-row.align-items-center
    .mt-md-1.mt-lg-2.my-xl-auto.header--vertical-divider
    a.p-md-2.p-lg-4.p-xl-4.header-menu--item.text-primary(href='javascript:;')
      | Contact Us
    button.px-5.py-1.mt-md-1.btn.btn-outline-primary.rounded-pill.btn-login(type='button') Log In