.d-flex.flex-column.subscription--plan
  dl
    dt Plan Name:
    dd Innovo Invoice Basic: 20 Invoices

    dt Billing Type:
    dd Monthly

    dt Amount
    dd SGD 18 / Month
  a(href="subscription-payment.html")
    button.btn.btn-primary.btn-block.forms--rounded Next