nav.subscription--wizard.d-none.d-lg-flex.d-xl-flex
  .item
    h3.title 1
    span.caption Plan Information
  .item.active
    h3.title 2
    span.caption Payment Information
  .item
    h3.title 3
    span.caption Done
  