$font-family-sans-serif: Montserrat, Roboto, Helvetica, Arial, sans-serif;
$font-family-arvo: Arvo, Montserrat, Roboto, Helvetica, Arial, sans-serif;

$pink: #DB6B65;
$primary: $pink;
$blue: #0c4470;
$secondary: $blue;
$enable-shadows: true;
$featured-darker-bg: #F4F7FA;

// Sizing remap
// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    60: 60%,
    75: 75%,
    80: 80%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px,
  xr: 2048px
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px,
  xr: 1920px
) !default;

$header-height: 60px;