doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Innovo42')
    meta(name='author', content='Innovo42')
    title Innovo42
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap")
    link(rel="stylesheet", href="main.css")
  body
    include ./header.pug
    .d-flex.flex-column.wrapper
      block content

      include ./footer.pug

    script(type="text/javascript", src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")
    script.
      feather.replace()
