.d-flex.flex-column.footer
  .d-flex.flex-column-reverse.flex-md-row.flex-lg-row.flex-xl-row
    include ./footer/address.pug
    include ./footer/sitemap.pug
    include ./footer/mobile-app.pug
    include ./footer/newsletter.pug
  .d-flex.flex-row.mt-5
    span.footer-copyright &copy; All Right Reserved 2019 - Privacy Policy