.d-flex.flex-row.align-items-center.fixed-top.bg-white.header
  a.my-md-0.mr-md-auto(href='index.html')
    img.logo.my-2(src='images/innovo42-logo.png', alt='Innovo42')
  nav.d-none.d-lg-flex.d-xl-flex.flex-row.header-menu.align-items-center
    each link in sitemap
      a.px-md-1.px-lg-3(href=link.href)
        = link.label
  nav.d-none.d-xl-flex.flex-row.header-menu.align-items-center
    .header-vertical-divider
    a.px-md-1.px-lg-3.mx-md-1.mx-md-2.header-menu-trial(href='javascript:;') Contact Us
    button.ml-md-1.ml-md-2.btn.btn-login(type='button') Log In
