mixin section-title(title=null)
  .d-flex.flex-column.align-items-center.my-5
    h3.fonts--arvo.text-secondary.section--title
      = title
    img.section--title-line(src='images/section-title-line.png')