.d-flex.flex-column.footer-children
  img.logo.mb-5(src='images/innovo42-logo.png', alt='Innovo42')
  .d-flex.flex-row
    i(data-feather="mail")
    span info@innovo42.com
  .d-flex.flex-row
    i(data-feather="linkedin")
    span /Innovo42
  span
    | Innovo42 Pte. Ltd
    br
    | The Octagon, 11-17,
    br
    | 105 Cecil Street,
    br
    | Singapore 069534