.d-flex.flex-column.mb-5.footer-children.pl-3.pr-2
  span.mb-2 Get The Expense App!
  img.footer-img-apple.mb-2(src='images/app-store.png', alt='Get on Apple Store')
  img.footer-img-google.mb-2(src='images/googleplay.png', alt='Get on Google Play')