.d-flex.flex-column.footer-children
  span.mb-3 Subscribe to our newsletter
  form
    .form-group
      input.form-control.footer-newsletter-forms.footer-newsletter-input(
        type='email',
        name='email',
        placeholder='Enter your email address',
        aria-describedBy='Email'
      )
    .form-group
      button.btn.btn-primary.btn-block.footer-newsletter-forms SUBSCRIBE
  span Follow Us