.d-flex.flex-row.mb-5.footer-children
  .d-flex.flex-column
    a.footer-sitemap-link-text.mb-2(href='javascript:;') Home
    a.footer-sitemap-link-text.mb-2(href='javascript:;') Pricing
    a.footer-sitemap-link-text.mb-2(href='javascript:;') Blog
    a.footer-sitemap-link-text.mb-2(href='javascript:;') About Us
    a.footer-sitemap-link-text.mb-2(href='javascript:;') Help
    a.footer-sitemap-link-text.mb-2(href='javascript:;') Xero Integration
  .d-flex.flex-column
    span.footer-sitemap-link-text.mb-2 Products
    a.footer-sitemap-link-text.mb-2(href='javascript:;') Innovo Xpense
    a.footer-sitemap-link-text.mb-2(href='javascript:;') Innovo Invoice
    a.footer-sitemap-link-text.mb-2(href='javascript:;') Innovo API