extends ../shared/base.pug

block content
  .d-flex.flex-column.content--wrapper.content--jumbotron
    .d-flex.flex-column.content--container.py-5
      h1.display-4 Innovo42
      p.lead Digitize invoices and simplify your work
      hr.my-4
      p Save time and boost productivity by digitizing invoice handling. Eliminate manual data entry and increase efficiency!
      a(href="javascript:;")
        button.btn.btn-primary.btn-lg Learn More