$logo-width: 112px;
$logo-height: 116px;

.banner {
  &-bg {
    top: $header-height;
    position: absolute;
    height: 110%;
    z-index: -1;

    &--left-align {
      background-image: url("images/banner-bg-splash-right.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    &--right-align {
      background-image: url("images/banner-bg-splash-left.png");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &-images {
    &--container {
      min-width: 55%;
      width: 55%;
    }
  }

  &-logo {
    width: $logo-width;
    height: $logo-height;
  }

  &-text {
    &--title {
      &-1 {
        font-size: 3.125rem;
        line-height: 3.75rem;
      }

      &-2 {
        font-size: 4.375rem;
        line-height: 3.4375rem;
      }

      &-3 {
        font-size: 2.5rem;
      }
    }

    &--subtitle {
      font-size: 2rem;
    }

    &--caption {
      font-size: 1.125rem;
      line-height: 1.5;
    }
  }

  &--wrapper {
    min-height: 100% !important;
  }

  &--button {
    font-weight: 600;
  }
}

@media (max-width: 20rem) {
  .banner {
    &-logo {
      width: $logo-width / 2;
      height: $logo-height / 2;
    }

    &-text {
      &--title {
        &-1 {
          font-size: 2rem;
          line-height: 2.125rem;
        }
  
        &-2 {
          font-size: 2.5rem;
          line-height: 2.825rem;
        }

        &-3 {
          font-size: 2rem;
          line-height: 2.125rem;
        }
      }
    }

    &--wrapper {
      margin-bottom: 60px !important;
    }
  }
}

@media (min-width: 120rem) {
  .banner {
    &-bg {
      top: $header-height * 2;
    }

    &-logo {
      width: $logo-width * 1.5;
      height: $logo-height * 1.5;
    }

    &-text {
      &--title {
        &-1 {
          font-size: 3.5rem;
          line-height: 4rem;
        }
  
        &-2 {
          font-size: 5rem;
          line-height: 4rem;
        }

        &-3 {
          font-size: 3.5rem;
          line-height: 4rem;
        }
      }
  
      &--subtitle {
        font-size: 2.5rem;
      }

      &--caption {
        font-size: 1.5rem;
      }
    }

    &--button {
      font-size: 1.25rem;
    }
  }
}

@media (min-width: 160rem) {
  .banner {
    &-logo {
      width: $logo-width * 2;
      height: $logo-height * 2;
    }

    &-text {
      &--title {
        &-1 {
          font-size: 4.5rem;
          line-height: 5rem;
        }
  
        &-2 {
          font-size: 6rem;
          line-height: 5rem;
        }

        &-3 {
          font-size: 4.5rem;
          line-height: 5rem;
        }
      }
  
      &--subtitle {
        font-size: 3rem;
      }

      &--caption {
        font-size: 1.75rem;
      }
    }

    &--button {
      font-size: 1.5rem;
    }
  }
}