html {
  height: 100%;
  width: 100%;
}

body {
  font-family: $font-family-sans-serif;
  margin: 0;
  background-color: $white;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  height: calc(100% - 60px);
}

.wrapper {
  margin-top: $header-height !important;
}

@media(max-width: 20rem) {
  .wrapper {
    margin-top: $header-height * 1.5 !important;
  }
}

@media(min-width: 120rem) {
  body {
    height: calc(100% - 120px);
  }

  .wrapper {
    margin-top: $header-height * 2 !important;
  }
}