$font-family-sans-serif: Montserrat, Roboto, Helvetica, Arial, sans-serif;
$font-family-arvo: Arvo, Montserrat, Roboto, Helvetica, Arial, sans-serif;
$pink: #DB6B65;
$primary: $pink;
$blue: #0c4470;
$secondary: $blue;
$enable-shadows: true;
