.featured {
  &--wrapper {
    max-width: 100%;
  }

  &--container {
    flex: 1;
  }

  &--title {
    font-size: 24px;
  }

  &--caption {
    font-size: 18px;
    line-height: 27px;
    // line-height: 36px;
  }

  &--images {
    max-width: 260px;
    max-height: 190px;
  
    &-container {
      width: 33%;
    }
  }

  &--darker-bg {
    background-color: $gray-100;
  }

  &-center {
    &--images {
      max-width: 90%;
      &--container {
        flex: 1;
        max-width: 50%;
      }
    }

    &--container {
      flex: 1;
    }
  }

  &-bordered {
    &--wrapper {
      border-radius: 16px;
      background-color: #F4F7FA;
      box-shadow: 0px 3px 6px #00000029;
    }

    &--images {
      max-width: 100%;
      max-height: 100%;

      &-container {
        padding: 50px;
        min-width: 23%;
      }
    }
  }

  &-forms {
    &--input {
      height: 60px;
    }

    &--textarea {
      border-radius: 20px;
    }
  }
}