$header-font-size: 12px;
$header-height: 60px;

.header {
  background-color: $white;
  height: $header-height;
  padding: 0 10%;

  &-menu {
    a {
      padding: 22px 0;
      height: $header-height;
      text-transform: uppercase;
      font-size: $header-font-size;
      font-weight: 700;
      color: $secondary;
  
      &:hover {
        text-decoration: none;
        border-bottom: solid 3px $primary;
        color: $secondary !important;
      }
    }

    &-trial {
      color: $primary !important;

      &:hover {
        color: $primary !important;
      }
    }
  }

  &-vertical-divider {
    width: 2px;
    height: $header-height / 2;
    background-color: $primary;
  }
}

.logo {
  max-width: 143px;
  height: $header-height / 2;
}

.btn {
  &-login {
    background-color: $white;
    font-size: $header-font-size;
    text-transform: uppercase;
    color: $primary;
    font-weight: 700;
    border: solid 1px $primary;
    border-radius: $header-font-size;
    min-width: 120px;
    max-height: 38px;
    margin-top: 0px;

    &:hover {
      color: $primary;
    }
  }
}