@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./header.scss";
@import "./footer.scss";
@import "./forms.scss";

// Content
@import "./pricing.scss";
@import "./subscription.scss";

html, body {
  font-family: $font-family-sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $white;
}

.content {
  &--wrapper {
    width: 100%;  
  }

  &--container {
    padding: 0 10%;
    min-width: 80%;
  }

  &--jumbotron {
    background: $gray-400;
  }
}

.wrapper {
  // padding: 0 10%;
  // min-width: 100% - 20%;
  flex: 1;
  margin-top: 60px;
  min-width: 100%;
  width: 100%;
  min-height: 100%;
}

.icon {
  margin-right: 8px;
}