@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./header.scss";
@import "./footer.scss";
@import "./forms.scss";

// Content
@import "./pricing.scss";
@import "./subscription.scss";
@import "./banner.scss";

html, body {
  font-family: $font-family-sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $white;
}

.fonts {

  &--arvo {
    font-family: $font-family-arvo;
  }
}

.content {
  &--wrapper {
    min-width: 100%;
    min-height: 100%;
  }

  &--container {
    padding: 0 10%;
    min-width: 80%;
    flex: 1;
  }

  &--jumbotron {
    background: $gray-400;
  }
}

.wrapper {
  flex: 1;
  margin-top: 60px;
  min-width: 100%;
  width: 100%;
  min-height: calc(100% - 60px);
  height: calc(100% - 60px);
  overflow-y: visible;
}

.icon {
  margin-right: 8px;
}