@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "./header.scss";
@import "./footer.scss";
@import "./forms.scss";

// Content
@import "./pricing.scss";
@import "./subscription.scss";

html, body {
  font-family: $font-family-sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: $white;
}

.wrapper {
  padding: 0 10%;
  min-width: 100% - 20%;
  min-height: 100%;
}