extends ../shared/base.pug

include ../shared/banner.pug
include ../shared/section.pug

block content
  .w-100.banner-bg.banner-bg--right-align
  .d-flex.flex-row.w-100.px-5p.px-xl-10p.align-items-center.banner--wrapper
    //- TITLE
    .d-flex.flex-column.mr-auto.mw-100
      h1.fonts--arvo.text-secondary.banner-text--title-3.mx-0
        | We help businesses improve&nbsp;
        span.text-primary efficiency.

    //- BANNER IMAGE
    .d-none.d-lg-flex.flex-column.banner-images--container
      img.w-80.mx-auto(src='images/banner-about.png', alt='About Us')

  .d-flex.flex-column.px-5p.px-xl-10p.align-items-center.w-100
    hr.my-4

    +section-title('What We Do')

    hr.my-5

    .d-flex.flex-row.align-items-center.w-100
      .d-none.d-md-flex.mr-auto.w-50.align-items-center.pl-5
        img.w-50.mr-auto.ml-xl-5.image--mission(src='images/mission.png', alt='Our Mission')
      .d-flex.flex-column.justify-content-center.pl-md-3.section--container.section--what-we-do
        p.banner-text--caption Our mission is to cut through the noise of inefficient expense and invoice management and empower businesses to have more efficient workflows, eliminating frustrating processes that take up time.

        p.banner-text--caption Our API solution which leverages machine learning and in-house algorithms helps companies extract key information from receipts and invoices putting an end to manual data extraction.

        p.banner-text--caption The extraction of receipt and invoice data will improve your user experience and enhance the process automation of your in-house expense management and accounting applications.

  hr.my-3.my-xl-5
  hr.my-0.my-xl-4

  .d-flex.flex-column.px-5p.px-xl-10p.align-items-center.w-100
    .d-flex.flex-row.w-100
      .d-none.d-md-flex.flex-row.border-top.border-left.border-bottom.w-30.justify-content-center.align-items-end.featured--photo-left-frame.shadow
        img.w-95(src='images/colin.jpg')
      .d-flex.flex-column.w-70.justify-content-center.px-5.py-5.section--primary-bg.featured--photo-right-frame.section--what-we-do.shadow
        span.banner-text--caption.text-light “With Innovo42, we aim to provide innovative solutions that will help companies and their employees improve the way they carry out everyday tasks. By doing this, we target to enable employees to focus on the work that matters and to increase the efficiency of the companies using our solutions.”

        hr.my-3

        h4.banner-text--caption.text-light.font-weight-bold
          | Colin Anthony
          span.font-weight-normal , Co-Founder

    hr.my-3.my-xl-5

    .d-flex.flex-row.w-100
      .d-flex.flex-column.w-70.justify-content-center.px-5.py-5.section--yellow-bg.featured--photo-left-frame.shadow.section--what-we-do
        span.banner-text--caption.text-light “We have built Innovo42 because we believe you don’t need complex solutions for simple problems, but simple solutions for complex problems.”

        hr.my-3

        h4.banner-text--caption.text-light.font-weight-bold
          | Rene Hess
          span.font-weight-normal , Co-Founder / Inventor

      .d-none.d-md-flex.flex-row.border-top.border-right.border-bottom.w-30.justify-content-center.align-items-end.featured--photo-right-frame.shadow
        img.w-95(src='images/rene.jpg')

    hr.my-3.my-xl-5

  .d-flex.flex-column.px-5p.px-xl-10p.align-items-center
    +section-title('Our Core Values')

    hr.my-3.my-xl-4

    .d-flex.flex-column.flex-md-row.w-100.align-items-center.align-items-md-start.justify-content-md-center
      +core-values(
        'images/core-transparent.png',
        'Be Transparent',
        `
          We believe in using transparency as a means to foster an environment of growth for our teammates and clients.
        `
      )

      +core-values(
        'images/core-humble.png',
        'Be Humble',
        `
          We are strongly grounded and rooted in our values to always get better at what we’re doing and serve our community of clients and co-workers.
        `
      )

      +core-values(
        'images/core-simple.png',
        'Be Simple',
        `
          We aim to solve problems in simple, elegant ways to provide delightful experiences to our customers and team.
        `
      )

    .d-flex.flex-column.flex-md-row.w-100.align-items-center.align-items-md-start.justify-content-md-center
      +core-values(
        'images/core-forward.png',
        'Be Forward-Thinking',
        `
          We believe in work that is driven by productivity, automation and digitization and make it our mission to bring our ideas to life and build solutions for the future.
        `
      )

      +core-values(
        'images/core-curious.png',
        'Be Curious',
        `
          We want to push the limits of what’s possible by thinking out of the box and coming up with solutions that improve the way you work.
        `
      )
  
  hr.my-3.my-xl-4

  +cta(
    'Interested in giving it a try?',
    true,
    'javascript:;',
    'Get In Touch With Us Now!'
  )

  .d-flex.w-100
    iframe.w-100(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.28664411907!2d103.8492068!3d1.2806884!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x87f1d80c825cc35d!2sInnovo42!5e0!3m2!1sid!2sid!4v1597219732775!5m2!1sid!2sid', width="100%", height="400", frameborder='0', style='border:0;', allowfullscreen='', aria-hidden='false', tabindex='0')